{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-4"></div>
        <div class="styles col-md-4">
            {% if form.errors %}
            <p>incorrect details</p>
            {% endif %}
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="text-center">Sign Up</h3>
                </div>
                <div class="panel-body">

                    <form action="/accounts/register/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>

            </div>

        </div>

        <div class="col-md-4"></div>
    </div>
</div>
<style>
        body{
            background: url('http://www.baltana.com/files/wallpapers-5/Paint-Background-HD-Wallpaper-16472.jpg');
            color: white;
            background-repeat: no-repeat;
            font-weight: bolder;
            background-size: cover

        }

        .styles
            {
                font-family: Raleway;
                margin: 50px;
                padding: 10em 3em;
                text-align: center;
                border: 2px solid white;
                border-radius: 10px;
                opacity: 0.6;
                filter: alpha(opacity=80);
                color: aliceblue;
                background-color:black;
            }
            .styles:hover{
                background-color:rosybrown;
        color:white;
        border: 2px solid #000000;
        
              }</style>
        
{% endblock %}