{%extends 'base.html'%}
{% block content %}
<div class="container">

    <div class="row">
        {% if projects%}
        <h2>Found {{ projects|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 projects for the search term {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if projects %}
        {% for project in projects %}
        <div class="col-sm-6 col-md-3">
            <a href="/project-detail/{{project.id}}">{{project.title}}</a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    </div>
<style>
        body{
            background: url('http://www.baltana.com/files/wallpapers-5/Paint-Background-HD-Wallpaper-16472.jpg');
            color: white;
            background-repeat: no-repeat;
            font-weight: bolder;
            background-size: cover


        }
        a{
            color: white
        }
        .row
            {
                font-family: Raleway;
                color: #FFF;
                margin: 50px;
                padding: 10em 3em;
                text-align: center;
                border: 2px solid white;
                border-radius: 10px;
                opacity: 0.6;
                filter: alpha(opacity=80);
                color: aliceblue;
                background-color:black;
            }
            .row:hover{
                background-color:whitesmoke;
        color: black;
        border: 2px solid #000000;
              }
              </style>
        
{% endblock %}